{% extends 'base.html.twig' %}

{% block title %}WebMonitoring - Crawler Options | Parrot Media{% endblock %}

{% block body %}
    {{ dump(web) }}


    <a href="{{ path('crawling_web', {'id': web.id }) }}" class="bundleLinks">Crawling (web)</a>
    <a href="{{ path('createSitemap', {'id': web.id }) }}" class="bundleLinks">Create Sitemap (asynchrone)</a>
{% endblock %}